input {
   border-radius: 1em;
   text-align-last: center;   
   transition:  300ms;
}

input:hover {
   opacity: 85%;
   border-radius: 1.5em;
}

button {
   box-shadow: 4px 5px #000000;
   transition: .3s;
}

button:hover {
   box-shadow: 3px 3.5px #000000;

}
