@font-face {
   font-family: 'L1';
   src: url(../Alata-Regular.ttf);
}

#inputDashboard {
   display: flex;
   margin: 0;
   font-family: 'Inter';
   justify-content: space-around;

}

.inputContainer {
   border-left: solid .1em;
   border-right: solid .1em;
   padding-left: 2.5vw;
   padding-right: 2.5vw;   
   display: flex;
   flex-flow: column;
   align-items: left;
   justify-content: space-evenly;
   vertical-align: top;
   max-width: 17vw;
   text-align-last: center;
   transition: 200ms;

}


input{
   max-width: 11.5vw;
   margin-bottom: 1vh;
   border-radius: 3vw;
   border: none
}
h3 {
   text-align: center;
}