@font-face {
   font-family: 'L1';
   src: url(../Alata-Regular.ttf);
}

#inputDashboard {
   display: flex;
   flex-direction: column ;
   margin: 0;
   font-family: 'L1';
   justify-content: space-around;

}


input{
   max-width: 11em;
   margin-bottom: 1vh;
   border-radius: 3vw;
   border: none
}
h3 {
   text-align: center;
}
