.loginInput {
   height: 2.5em;
   text-align-last: center;   
   transition:  300ms;
}

.loginInput:hover {
   opacity: 85%;
}

button {
   box-shadow: 4px 5px #000000;
   transition: .7s;
}

button:hover {
   box-shadow: 0px 0px #000000;
   cursor: pointer;

}
